.container {
    width: 560px;
}
body {
    min-width: 640px;
    color: #211111;
}
button {
    font-family: "Source Sans Pro", serif;
}
#github-logo-repo {
    margin: 10px;
}
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    z-index: 99;
    text-align: right;

}
input {
    margin-bottom: 20px;
}
form {
    margin: 0;

}
p{
    font-family: 'Droid Serif', serif;
}
h1, h2 {
    font-family: 'Source Sans Pro', bold, sans-serif;
}
h1 {
    font-size: 4rem;
    margin-top: 0;
}
h2 {
    font-size: 3.5rem;
}
.mainprogram {
    margin: 100px auto auto auto;
    height: 80vh;
    width: 480px;	
    text-align: center;
}
#blog-page-one {
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
}
.results {
    border-left: 1px solid;
}

.node {
    stroke: #fff;
    stroke-width: 1px;
    fill: #111111;
}
circle:hover {
    fill: #E74C3C;
}
.link{
    fill: none;
    stroke: #111111;
}
